.extra-shdow-soft{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.shadow-soft{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.blueish-btn{
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

@media (max-width:789px) {
    .sm-none{
        display: none;
    }
    .sm-py-none{
        padding: auto 3rem;
    }
}